{% extends "layouts.html" %}
{% block content %}
  <div class="space-y-6">
    {% for post in posts %}
    <article class="bg-white shadow rounded p-6">
      <div class="flex justify-between items-center">
        <div class="text-gray-700">
          <a href="#" class="font-semibold text-blue-600 hover:underline">{{ post.author }}</a>
          <span class="text-sm text-gray-500">{{ post.date_posted }}</span>
        </div>
      </div>
      <h2 class="mt-4 text-2xl font-bold text-gray-800 hover:text-blue-600">
        <a href="#" class="hover:underline">{{ post.title }}</a>
      </h2>
      <p class="mt-2 text-gray-600">{{ post.content }}</p>
    </article>
    {% endfor %}
  </div>
{% endblock content %}
