<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}" />
    {% if title %}
    <title>Moru Journal - {{ title }}</title>
    {% else %}
    <title>Moru Journal</title>
    {% endif %}
  </head>
  <body class="bg-gray-100">
    <header class="bg-gray-800 text-white">
      <nav class="container mx-auto flex justify-between items-center py-4 px-6">
        <div class="flex items-center space-x-4">
          <a href="/" class="text-xl font-bold">Moru Journal</a>
          <a href="{{ url_for('main') }}" class="text-white hover:text-gray-300 mr-6">Home</a>
          <a href="{{ url_for('about') }}" class="text-white hover:text-gray-300">About</a>
        </div>
        <div id="navbarToggle" class="hidden md:flex items-center space-x-4">
          {% if current_user.is_authenticated %}
          <a href="{{ url_for('my_blogs') }}" class="bg-gray-700 px-4 py-2 rounded hover:bg-gray-600">My Blogs</a>
          <a href="{{ url_for('new_post') }}" class="bg-gray-700 px-4 py-2 rounded hover:bg-gray-600">New Post</a>
          <a href="{{ url_for('profile') }}" class="bg-gray-700 px-4 py-2 rounded hover:bg-gray-600">Profile</a>
          <a href="{{ url_for('logout') }}" class="bg-red-600 px-4 py-2 rounded hover:bg-red-500">Logout</a>
          {% else %}
          <a href="{{ url_for('login') }}" class="bg-gray-700 px-4 py-2 rounded hover:bg-gray-600">Login</a>
          <a href="{{ url_for('register') }}" class="bg-blue-600 px-4 py-2 rounded hover:bg-blue-500">Register</a>
          {% endif %}
        </div>
        <button class="text-white md:hidden focus:outline-none" id="menu-toggle">☰</button>
      </nav>
    </header>

    <main class="container mx-auto mt-12 px-6">
      <div class="flex flex-wrap justify-center">
        <!-- Main Content -->
        <div class="w-full px-6">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
          <div
            class="p-4 mb-4 text-sm text-white rounded-lg {% if category == 'Success' %}bg-green-500{% elif category == 'Error' %}bg-red-500{% elif category == 'Warning' %}bg-yellow-500{% else %}bg-blue-500{% endif %}">
            {{ message }}
          </div>
          {% endfor %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    <footer class="bg-gray-800 text-white py-4 mt-12">
      <div class="container mx-auto text-center">
        <p>&copy; 2025 Moru Journal. All Rights Reserved.</p>
      </div>
    </footer>

    <script>
      const menuToggle = document.getElementById("menu-toggle");
      const navbarToggle = document.getElementById("navbarToggle");
      menuToggle.addEventListener("click", () => {
        navbarToggle.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
