{% extends "layouts.html" %}
{% block content %}
  <div class="bg-white shadow rounded p-6 max-w-lg mx-auto">
    <form action="" method="post" class="space-y-6">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend class="text-2xl font-bold border-b pb-2 mb-4">Join Today</legend>
      
        <div class="mb-4">
          {{ form.username.label(class="block text-gray-700 font-medium") }}
          {{ form.username(class="mt-2 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200") }}
          {% if form.username.errors %}
            {% for error in form.username.errors %}
            <p class="mt-1 text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      
        <div class="mb-4">
          {{ form.email.label(class="block text-gray-700 font-medium") }}
          {{ form.email(class="mt-2 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200") }}
          {% if form.email.errors %}
            {% for error in form.email.errors %}
            <p class="mt-1 text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      
        <div class="mb-4">
          {{ form.password.label(class="block text-gray-700 font-medium") }}
          {{ form.password(class="mt-2 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200") }}
          {% if form.password.errors %}
            {% for error in form.password.errors %}
            <p class="mt-1 text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      
        <div class="mb-4">
          {{ form.confirm_password.label(class="block text-gray-700 font-medium") }}
          {{ form.confirm_password(class="mt-2 w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring focus:ring-blue-200") }}
          {% if form.confirm_password.errors %}
            {% for error in form.confirm_password.errors %}
            <p class="mt-1 text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          {% endif %}
        </div>
      </fieldset>
      
      
      <div>
        {{ form.submit(class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-500") }}
      </div>
    </form>
  </div>
  <div class="text-center mt-6">
    <small class="text-gray-600">
      Already have an account? 
      <a href="{{ url_for('login') }}" class="text-blue-600 hover:underline">
        Sign In
      </a>
    </small>
  </div>
{% endblock %}
